<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        button {
            width : 100px;
            height : 40px;
            font-size : 14px;
        }
    </style>
</head>
<body>
    <center><h1>{{title}}</h1></center>
    <center><h3>{{port}}</h3></center>
    <center>You earned {{coin}} coins!</center>
    <br>
    <center><a href ="{{address}}/chain" target = "_blank"><button>Chain</button></a></center>
    <br>
    <center><a href ="{{address}}/allmine" target = "_blank"><button>Start Mining</button></a></center>

</body>
</html>